*
{
  box-sizing: border-box;
  font-family: Poppins;
}
body{
  background-color:#fbfbfb;
}
.heading{
  height:80px;
}
.top-heading
{
  font-size: 33px;
  font-weight: 600;
 
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  padding: 8px 15px 10px;
  display: inline-block;
 
}
.top-heading a
{
  text-decoration: none;
  color: #ce0505;
}
.login a
{
  text-decoration: none;
  color: white;  
}
.create-an-acc a
{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
.create-an-acc
{
  width: 180px;
  height: 20px;
}
.filter-heading
{
   
    font-family: Poppins;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}
.left-filter {
  width: 100%;
  height: 682px;
 
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.coll-down-div {
  width: 100%;
 display: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.heading1 {
 
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}
.Select-Location{
  
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}
.Rectangle-2236 {
  
 
  border-radius: 3px;
  border: solid 1px #8c96ab;
  color: #8c96ab;
}
.Cuisine {
 
  font-size: 14px;
  text-align: left;
  color: #192f60;
}
.Cost-For-Two{

  font-size: 14px;
  text-align: left;
  color: #192f60;
}
.checkbox1
{
 
  border: solid 1.5px #3a5075;
}
.radio1{
  
  border: solid 1.5px #3a5075;
}
.checkbox-text
{
  
  font-size: 14px; 
  color: #8c96ab;
 
}
.radio-text{
  
  font-size: 14px;
  text-align: left;
  color: #8c96ab;
}
.right-div
  {
    width: 100%;
    height: 295px;
    
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }
  .images{
    width: 120px;
    height: 120px;
    border-radius: 23px;
   
  }
  .big-chill
  {
    
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: #192f60;
  }
  .r-fort
  {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #192f60;
  }
  .r-add
  {
    font-size: 16px;
    text-align: left;
    color: #636f88;
  }
  .h-line
  {
    border: solid 1px #dedfe5;
  }
  .left-horizontal1
  {
    font-size: 16px;
    text-align: left;
    color: #636f88;
  }
.left-horizontal2
{
  
  font-size: 16px;
  text-align: left;
  color: #636f88;
}
.right-horizontal1
{
  
  font-size: 16px;
  text-align: left;
  color: #192f60;
}
.right-horizontal2
{
 
  font-size: 16px;
  text-align: left;
  color: #192f60;
}
.pagination a
{
 
  text-decoration: none;
  text-align: left;
  color: #8c96ab;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid #8c96ab;
  border-radius: 5px;
}
.pagination-item:hover
{
  color: #ffffff;
  background-color: #8c96ab;
}
.down-arrow
  {
    display: none !important;
  }

 .visible-hidden{
   display:none;
 }
@media only screen and (max-width: 768px)
{
  
  .f-s{
    margin-top: 13px;
    margin-left:26px;
    color: #192f60;
  }
  .right-div{
    margin-top: 15px;
  }
  .visible-hidden{
    display:initial;
  }

  .Rectangle-2236{
    width:90%;
  }
 
  .left-filter
  {
    width: 100%;
  }  
  .coll-down-div
  {
    
   display: inherit;
    width: 100%;
    margin-bottom: 5px;
    height: 53px;
  }  
  .big-chill
  {
    font-size: 22px;
  }
  .r-fort
  {
    font-size: 12px;
  }
  .r-add
  {
    font-size: 12px;
  }
  .left-horizontal1
  {
    font-size: 12px;
  }
  .left-horizontal2
  {
    font-size: 12px;
  }
  .right-horizontal1
  {
    font-size: 12px;
  }
  .right-horizontal2
  {
    font-size: 12px;
  }
  .down-arrow
  {
    display: initial !important;
  }
}
@media only screen and (max-width: 526px)
{
  .filter-heading
  {
    font-size: 25px;
  }
}
@media only screen and (max-width:576px)
{
  .images
  {
    width: 80px;
    height: 80px;
    border-radius: 15px;
  }
}

